/* Fonts */

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2"),
    url("../fonts/rubik/rubik-400.woff") format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2"),
    url("../fonts/rubik/rubik-700.woff") format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2"),
    url("../fonts/raleway/raleway-800.woff") format('woff');
  font-display: swap;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #444444;
  --basic-grey: #dcdcdc;
  --basic-light-grey: #ebebeb;
  --basic-light: #f0f0f0;
  --basic-white: #ffffff;
  --special-yellow: #ffe17f;
  --special-yellow-dark: #ffc700;
  --special-purple: #af4fff;
  --status-error: #ff3d3d;
  --status-warning: #fd912e;
  --status-success: #08af00;
}

/* Global */

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

/* Buttons */

.button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: inherit;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.page-header {
  background-color: var(--special-yellow);
}

/* Pages */

.main-container {
  flex-grow: 1;
}

.page-header {
  color: var(--basic-black);
  background-color: var(--special-yellow);
}

.page-header-wrapper {
  width: 1040px;
  margin: 0 auto;
}

.search-form {
  font-size: 14px;
  line-height: 20px;
  width: 517px;
  margin-right: 26px;
}

.search-form-field {
  font-family: inherit;
}

.search-form-submit {
  font-family: inherit;
  cursor: pointer;
}

/* User-navigation */

.navigation-firs-wrapper {
  display: flex;
  justify-content: space-between;
}

.user-navigation-list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
}

.user-navigation-login {
  width: 231px;
  padding-right: 26px;
}

.user-navigation-compare {
  width: 105px;
  padding-right: 26px;
}

.user-navigation-link {
  text-decoration: none;
  color: inherit;
}

/* Main-navigation */


/*
.main-navigation-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
*/

.main-navigation {
  display: flex;
  justify-content: space-between;
}

.main-navigation-list {
  display: flex;
  width: 471px;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.main-navigation-item:nth-child(1) {
  margin-right: 47px;
}

.main-navigation-item:nth-child(2) {
  margin-right: 51px;
}


.main-navigation-item-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}

.main-navigation-sublist {
  list-style: none;
}

.main-navigation-sub-link {
  font-size: 16px;
  line-height: 18px;
  color: inherit;
  text-decoration: none;
}

/* Slider */


.slider-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.slider-list li {
  display: flex;
  justify-content: space-between;
}

.slider-image-wrapper {
  width: 560;
}

.slider-text-wrapper {
  width: 560;
}



.slider-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}


.slider-advantages-list {
  list-style: none;
}

.slider-advantages-item {
  color: var(--basic-dark);
  font-size: 36px;
  line-height: 30px;
}

.slider-advantages-item span {
  font-size: 16px;
  line-height: 30px;
}

.slider-text {
  color: var(--basic-dark);
}

.slider-pagination {
  display: flex;
  list-style-type: none;
}

.slider-pagination-button {
  cursor: pointer;
}

.slider-button {
  cursor: pointer;
}

/* Main-category */

.category-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.category-item {
  width: 160px;
}

.category-link {
  display: flex;
  flex-wrap: wrap;
  color: inherit;
  text-decoration: none;
}

.category-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  order: 1;
}

/* Services */

.services-container {
  width: 100%;
  background-color: var(--basic-light);
}

.services-list {
  list-style: none;
}

.services-item {
  display: flex;
  justify-content: space-between;
}


.services-text {
  color: var(--basic-dark);
}




/* Delivery */




.delivery-button {
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: var(--basic-light);
  width: 1160px;
  height: 100px;
}

.truck-icon-wrapper {
  background-color: var(--special-yellow);
  width: 125px;
  height: 100%;
}

.information-icon-wrapper {
  width: 125px;
  height: 100%;
}

.delivery-button {
  cursor: pointer;
  text-decoration: none;
}

/* About and Contacts */

.about-contact-wrapper {
  display: flex;
}

.about-us-item {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.about-us-text,
.cotacts-text,
.contacts-schedule-item {
  color: var(--basic-dark);
}

.contacts-subtitle {
  font-size: 24px;
  font-weight: 700;
}

.cotacts-address {
  font-style: normal;
  color: var(--basic-dark);
}

.contacts-phone {
  color: inherit;
}

/* Subscribe */

.subscribe-container {
  background-color: var(--basic-light);
}

.subscribe-text {
  color: var(--basic-dark);
}

.subscribe-button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  cursor: pointer;
}

.subscribe-field {
  font-family: inherit;
}

/* Footer */

.footer-container {
  background-color: var(--basic-dark);
}

.page-footer {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
}

.footer-main-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-second-wrapper {
  display: flex;
  justify-content: flex-end;
}

.footer-contacts-address {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  width: 240px;
}

.footer-services-list {
  display: flex;
  justify-content: space-between;
  width: 444px;
  list-style: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  width: 150px;
  list-style: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-services-link {
  color: inherit;
  text-decoration: none;
}

.footer-tel {
  width: 175px;
}

.footer-tel-link {
  color: inherit;
}

.footer-trademark {
  width: 150px;
}

/* Modal */

.modal {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 10px solid var(--basic-black);
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.modal-subtitle {
  font-size: 18px;
  font-weight: 700;
}

.modal-field {
  font-family: inherit;
  background-color: var(--basic-light);
}

/* Catalog page */
/* Breadcrumbs */

.brearcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 19px;
  list-style: none;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

/* Products */


.product-container {
  background-color: var(--basic-light);
}

.catalog-wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog-filter {
  width: 320px;
}

.catalog-right-column {
  width: 840px;
}

.catalog-filter-list {
  list-style: none;
}

.catalog-filter-subtitle {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-group {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.cotalog-filter-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.select-control {
  font-family: inherit;
}

.catalog-products {
  background-color: var(--basic-white);
}

.catalog-products-card {
  width: 360px;
}

.catalog-products-list {
  list-style: none;
}

.catalog-products-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: inherit;
}

.catalog-product-price {
  font-size: 18px;
  line-height: 21px;
  color: var(--basic-dark)
}

.catalog-products-title {
  font-size: normal;
  font-weight: 700;
  line-height: 20px;
}

.catalog-pagination-list {
  background-color: var(--basic-light-grey);
  list-style: none;
}

.pagination-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-dark);
}

.pagination-back,
.pagination-next {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
  text-transform: uppercase;
}

.pagination-show-more {
  cursor: pointer;
}
